<table border="1">
  <tr>
      <td>id</td>
      <td>Nome</td>
      <td>e-mail</td>
      <td>detalhe</td>
  </tr>
  <tr *ngFor="let item of pessoasArray">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>
        <button onclick="detalhe(item.id)">Detalhe</button>
      </td>
  </tr>
  <div *ngIf="detalhePessoa">
    <h1 >Detalhe da Pessoa</h1>
    <app-pessoas-detalhe [recebepessoa]="item" (respostaPessoa)="reciverFeedback($event)"></app-pessoas-detalhe>
  </div>
</table>

